.logout-btn{
  border: none;
  color: $primary;
  background-color: $bg-color;
  font-size: 1.3rem;
  font-weight: 500;
  &:hover{
    color: black;
  }
}
.add-container{

  .addHotel-success{
    font-weight: 500px;
    display: block;
    background-color: #d9f5e0;
    color: green;
    padding: 5px 0px;
  }
    button{
      @include buttonColorSecondary;
      margin-top: 10px;
    }
}
