.form-container{
  background-color: white;
  button{
    @include buttonColorPrimary;
  }  
}

.accordion-container{
  button{
    font-weight: 500;
    font-size: 1rem;
  }
  .accordion-button:not(.collapsed){
    color: black;
    background-color: $secondary;  
  }

  .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
  } 
}

