* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: $bg-color;
}
.wrapper {
  min-height: calc(100vh - 70px);
  max-width: 1200px;
  margin: 0 auto !important;
}
a{
  color: black;
  text-decoration: none;
}
.main-nav:active{
  text-decoration: underline 1px black solid;
  text-underline-offset: 3px;
}
.upperCase:first-letter{
  text-transform: uppercase;
}

@mixin buttonColorPrimary {
  color: $primary;
  background-color: white;
  border-color: $primary;
  font-weight: 500;
  &:hover{
    color: white;
    background-color: $primary;
    border-color: $primary;
  }
  &:focus  {
    color: $primary;
    background-color: white;
    border-color: $primary;
    outline: none !important;
    box-shadow: none !important;
  }
  &:active{
    outline: none !important;
    box-shadow: none !important;
  }
}



@mixin buttonColorSecondary{
  color: white;
  background-color: $primary;
  border-color: $primary;
  font-weight: 500;
  &:hover{
    color: white;
    background-color: darken($primary, 15%);
    border-color: darken($primary, 15%);
  }
  &:focus  {
    background-color: $primary;
    border-color: $primary;
    outline: none !important;
    box-shadow: none !important;
  }
  &:active{
    outline: none !important;
    box-shadow: none !important;
  }
}
