.image-slider{
  background-color: grey;
  height: 350px;
}
.detail-container{
  padding: 1rem 1rem;
  background-color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  button{
    @include buttonColorSecondary;
  }

}


.modal-container{
  
  .btn-modal{
    @include buttonColorSecondary;
  }
}