.home-hero-container {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../../../public/image/bergenCity.jpg");
  background-color: #cccccc;
  height: 400px;
  background-position: center bottom;
  background-repeat: no-repeat; 
  background-size: cover; 
  position: relative;
  h1{
    color: white;
  }
  .home-text-wrapper{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
  }
  form{
    background-color: white;
    color: black;
    width: 300px;
    height: 44px;
    border-radius: 5px;
  }
  form input[type=text]{
    all: unset;
    color: black;
    height: 100%;
    width: 100%;
    padding: 0px 10px;
  }
  .search-form-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);

    .search-item{  
    margin-top: -3px;
    margin-bottom: 3px;
    background-color: white;
    padding: 0.5rem 1rem;
    display: block;
    }
    .search-item:hover{
      background-color: #cccccc;
      color: black;
    }
  }
  

}

.tour{
  background-image: url("../../../public/image/fjords.jpg");
  background-position: left bottom;
  background-repeat: no-repeat; 
  background-color: #cccccc;
  background-size: cover; 
  height: 300px;
  position: relative;

  .tour-text{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
  }
}

.home-card-container{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 0px;
  background-color: white;

  .home-card1{
  background-image: url("../../../public/image/hotels.jpg");
  background-position: center top;
  background-repeat: no-repeat; 
  background-color: #cccccc;
  background-size: cover; 
  height: 250px;
  padding: 0px;
  }
  button{
    @include buttonColorSecondary;
  }

  .home-card2{
    background-image: url("../../../public/image/light.jpg");
    background-position: bottom;
    background-repeat: no-repeat; 
    background-color: #cccccc;
    background-size: cover; 
    height: 450px;
    padding: 0px;
    position: relative;
    .card2-text{
      position: absolute;
      color: white;
      top: 85%;
      padding: 1rem;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    }

  }
}

