.hotels-banner {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../../../public/image/bergen-street.jpg");
  background-color: #cccccc;
  background-position: center right;
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 400px;
  position: relative;

  .hotels-banner-text{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
  }
}

.hotels-container{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  .hotel-img-container{
    background-color: #cccccc;
    img{
    height: auto;
    width: 100%;
    opacity: 1;
    }
    &:hover{
      opacity: 0.7;
    }
  }
  
  .hotles-name{
    font-size: 1.3rem;
    &:hover{
      color: black;
      text-decoration: underline 1px;
      text-underline-offset: 3px;
    }
  }

  .hotels-location{
    font-size: 0.6;
  }
  .hotels-price{
    font-size: 1.2rem
  }
}