a{
  text-decoration: none;
}
.wrapper{
  background-color: $bg-color;
}

nav{
  background-color: white;
  color: black;
  
  .nav-container{
    max-width: 1200px;
    margin: 0 auto !important;
  }
  a{
    padding: 0.5rem 1rem;
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
  } & :hover{
    color: $primary;
  }
  .navbar-collapse{
    background-color: white;
    margin-top: 0.6rem;
  }
  .admin-nav{
    color: $primary;
    &:hover{
      color: black;
    }
  }
  @media (min-width: 990px){
    .navbar-collapse{
      margin-top: 0px;
    }
  }
}



footer{

  background-color: $footer-color;
  color: white;
  padding-top: 0.5rem ;
  a {
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
  }
  a:hover{
    color: $primary;
  }
  .footer-text{
    font-size: "";
  }
  .copyRight{
    font-size: 0.8rem;
    color: $grey;
    margin: 0;
  }
  .footer-logo{
    margin: 0.9rem 0 1rem 0;
  }
}