.error{
  color: $error;
}
.success{
  color: $success;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

//in build fonts? works without links
.wrapper {
  font-family: 'Epilogue', sans-serif;
}
p {
  letter-spacing: 0.5px;
}