.error{
  color: $error;
}
.success{
  color: $success;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.wrapper {
  font-family: 'Epilogue', sans-serif;
}
p, input, label, button,a, span {
  letter-spacing: 0.5px;
}