$primary:#EE5622;
$secondary: #fce1d8;
$bg-color: #F7F3EF;
$footer-color: #221E22;
$grey: #7E7E7E;
$error: red;
$success: green;

@import "~bootstrap/scss/bootstrap";


/*
product image mobile / pc

nav link active / background mobile desktop

button colors different when click / input color/shaodw, size 

display message login / contact/booking succces or fail 

Loading spinner while API calls

text in side  images

container size, content in middel

*/